<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Interdire l'accès aux dossiers sensibles
    RewriteRule ^(vendor|storage|bootstrap|resources|config|database|tests)/ - [F,L,NC]

    # Protéger les fichiers sensibles
    <FilesMatch "\.(env|htaccess|gitignore|gitattributes|log|lock|json|md|xml|yml|yaml|twig|blade\.php|phpunit\.xml)$">
        Require all denied
    </FilesMatch>

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Handle X-XSRF-Token Header
    RewriteCond %{HTTP:x-xsrf-token} .
    RewriteRule .* - [E=HTTP_X_XSRF_TOKEN:%{HTTP:X-XSRF-Token}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # Autoriser l'accès aux fichiers dans /storage ou /images
    <Directory "storage">
        Require all granted
    </Directory>

    <Directory "images">
        Require all granted
    </Directory>

</IfModule>
