<IfModule mod_rewrite.c>
    Options -MultiViews -Indexes
    RewriteEngine On

    # Redirection vers www.clementtribouillard.com
    RewriteCond %{HTTP_HOST} ^clementtribouillard\.com$ [NC,OR]
    RewriteCond %{HTTP_HOST} ^clemenw\.cluster051\.hosting\.ovh\.net$ [NC]
    RewriteRule ^(.*)$ https://www.clementtribouillard.com/$1 [L,R=301]

    # Autorise le header Authorization (ex. pour API)
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirection des slashes finaux (ex: /about/ -> /about)
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Redirige toutes les requêtes vers index.php sauf si fichier/dossier réel
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [QSA,L]
</IfModule>

# Protège les fichiers .env, composer, etc.
<FilesMatch "^\.env|composer\.(json|lock)|artisan|server\.php|package\.json|package-lock\.json|vite\.config\.ts|webpack\.mix\.js$">
    Require all denied
</FilesMatch>

# Désactive l'exécution des scripts PHP dans certains dossiers
<IfModule mod_php.c>
    <FilesMatch "\.(php|phps|php5|phtml)$">
        php_flag engine off
    </FilesMatch>
</IfModule>
